/* 19tea_main.css */

@import url("../../css/src/19tea_main_480/19tea_main_480.css");
@import url("../../css/src/19tea_main_1024/19tea_main_1024.css");
@import url("../../css/src/19tea_main_1440/19tea_main_1440.css");
@import url("../../css/src/19tea_main_1920/19tea_main_1920.css");

/* 공통내용*/
#wrap{
  width: 100%; max-width: 1920px; height: auto; min-height: 1000px; margin: auto; background-color: #ccc;
}

