@charset "utf-8";
/* variaable.css */

:root{
  --var:100%;

  --color-white:#fff;
  --color-black:#333;
  --color:#333;
  --color-ptimat:#333;
  
  --color-font1:#333;
  --color-font2:#f04;

  --clolr-poin:#333;

}
