@charset "utf-8";
/* css/mpbo.css*/

/* 웹에서는 기본적으로 브라우저마다 자기들만의 고유영역값을 세팅해놓았다.
각 요소들에게 여백의 값을 만들기도 하고 외곽선의 형태를 만들기도 하였다.
이를 우리는 실제 필요한 상황에 맞게 재 보수 하여 사용할 수 있도록 처리해야한다.

이에 여백,선 이라는 개념을 먼저 파악하도록 하자. */

/* html, body, p, h1, ul, ol, li,{margin:0; padding: 0;} */

h1 {width: 200px; height: 100px; background-color:#ddd;}
p{margin: 0;}
ul{list-style: none; width:150; height:150px;
  margin:0; padding:
  background-color:#acc;}
li{width:100%; height:30px; background-color:#fff;}
.border1{border-width:10px; border-style:solid; border-color:#5cf;}